body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-color: #f9f9f9;
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-color: #f9f9f9 !important;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}